/.vs
.DS_Store
.Thumbs.db
*.sublime*
.idea/
debug.log
package-lock.json
!/package-lock.json
.vscode/settings.json
yarn.lock
!/yarn.lock
/.yarn/
/.pnp.*

/.tauri
/target
Cargo.lock
!/examples/tauri-app/src-tauri/Cargo.lock
node_modules/
/examples/tauri-app/.env.local

dist-js
dist
